services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
      - BREVO_API_KEY=${BREVO_API_KEY}
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
  frontend-tests:
    build:
      context: ./frontend
      dockerfile: Dockerfile.test
    working_dir: /app
    command: ["npm", "test"]